// override default minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    100%;
$on-palm:          800px;
$on-laptop:        100%;
$on-medium:        100%;
$on-large:         120%;
