// override default minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    100px;
$on-palm:          80px;
$on-laptop:        100px;
$on-medium:        100px;
$on-large:         120px;
